$font-family_1: "Space Grotesk", "Made Gentle", "Arvo", "Avenir", "Helvetica Neue", "Nunito", "Segoe UI", Helvetica, Arial, sans-serif;

@import "__colors.scss";
@mixin flex-column{
	display: flex;
	flex-direction: column;
}
/*----------------------------------------*/

body {
	background-color: #fffefb;
	line-height: 1.15;
}
[class$="__container"] {
	margin: 0 auto;
	max-width: 1024px;
	padding: 12px 24px;
}
.wrapper {
	max-width: 1920px;
	font-family: $font-family_1;
	margin: 0 12px;
	font-weight: 500;
	color: $color--main;
	font-size: 18px;
}
.main {
	@include flex-column;
	gap: 80px;
}

/*----------------------------------------*/

.navbar {
	padding: 36px 0;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 100;
	backdrop-filter: blur(2px);
}
.navbar__container {
	margin: 0 auto;
	max-width: 100%;
	width: 1024px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar__logo {
	font-family: $font-family_1;
	font-weight: 500;
	cursor: pointer;
	transition: color 0.4s;
	&:hover {
		color: $site2--color-2;
	}
}
.navbar__list {
	display: flex;
}
.navbar__list-item {
	&:nth-child(2) {
		padding: 0 12px;
	}
	&:nth-child(1) {
		a {
			background: radial-gradient(60% 50% at 50% 50%, #9acdf7 0%, rgba(78, 132, 212, 0) 100%);
		}
	}
	a {
		padding-bottom: 1px;
		border-bottom: 1px solid #b7dbf8;
		color: $color--main;
		transition: color 0.4s;
		&:hover {
			color: $site2--color-2;
		}
	}
}

/*----------------------------------------*/

.header__container {
	position: relative;
}
.header__text-block {
	padding: 200px 49px 160px 49px;
}
.header__text-block-title {
	font-size: 2.7em;
	line-height: 1.3;
	a {
		border-bottom: 3px solid #79c1fc;
		transition: color 0.4s;
		&:hover {
			color: $site2--color-2;
		}
	}
}
.header__text-block-text {
	font-size: 2.7em;
	line-height: 1.3;
}
.header__bg_blue {
	z-index: -10;
	position: absolute;
	width: 500px;
	height: 500px;
	background: radial-gradient(50% 50% at 50% 50%, #b7dbf8 0%, rgba(78, 132, 212, 0) 100%);
	left: -240px;
	top: -32px;
	background: radial-gradient(50% 50% at 50% 50%, #b7dbf8 0%, rgba(78, 98, 212, 0) 100%);
}
.header__bg_light-blue {
	z-index: -10;
	position: absolute;
	width: 500px;
	height: 500px;
	background: radial-gradient(50% 50% at 50% 50%, #b7dbf8 0%, rgba(78, 132, 212, 0) 100%);
	right: -80px;
	bottom: -64px;
}

/*----------------------------------------*/

.divider {
	position: relative;
	width: 100%;
	margin: 16px 0;
	&::before {
		position: absolute;
		content: "";
		width: calc(50% - 32px);
		height: 0;
		top: 12px;
		border-top: 1px solid #111;
	}
	&::after {
		position: absolute;
		content: "";
		width: calc(50% - 32px);
		left: calc(50% + 32px);
		height: 0;
		top: 12px;
		border-top: 1px solid #111;
	}
}
.icon-star {
	display: block;
	margin: 0 auto;
	height: 1.33em;
	width: 1.33em;
	background-image: url(https://twemoji.maxcdn.com/2/svg/2728.svg);
}

/*----------------------------------------*/

.site{
	&__title{
		margin-bottom: 1em;

		span{
			color: #919191;
			font-weight: 400;
		}
	}
	&__head{
		padding-top: 16px;
		margin-bottom: 64px;

		&-img{
			border-radius: 16px;
			border: 1px solid #111;
		}
	}
	&__body{
		display: flex;
		gap: 80px;
	}
	&__description{
		@include flex-column;

		&-title{
			margin-bottom: 28px;
			font-weight: 600;
			font-size: 1.5em;
		}
		&-text{
			margin-bottom: 24px;
			font-weight: 400;
		}
		&-button{
			margin-top: 16px;
		}
	}
	&__card{
		width: 100%;
		max-width: 300px;
		border: 1px solid #111;
		border-radius: 16px;
		overflow: hidden;
		@include flex-column;
		line-height: 1.7;

		&-head{
			padding: 18px;
			border-bottom: 1px solid #111;
		}
		&-body{
			flex: 1 0 0%;
			padding: 16px;
			@include flex-column;
			gap: 16px;

			&-title,
			&-text{
				font-size: 0.9rem;
				font-weight: 400;
				margin: 0;
			}
			&-title{
				color: #777777;
			}
		}
	}
}

.button{
	background: #fff;
	padding: 12px 16px;
	border-radius: 32px;
	border: 1px solid #111;
	cursor: pointer;
	color: #111;
	display: flex;
    align-items: center;
	width: fit-content;

	svg{
		margin-left: 4px;
	}
}

/*----------------------------------------*/

.site__head-img_orange{
	box-shadow: 12px 12px $site1--color-1, 12px 12px 0px 1px #111;
}
.site__card-head_orange{
	background: $site1--color-1;
}
.site__card-body_orange{
	background: $site1--color-2;
}

.site__head-img_blue{
	box-shadow: 12px 12px $site2--color-1, 12px 12px 0px 1px #111;
}
.site__card-head_blue{
	background: $site2--color-1;
}
.site__card-body_blue{
	background: $site2--color-2;
}

/*----------------------------------------*/

.footer__container {
	padding: 12px 24px;
}
.footer__divider {
	margin-bottom: 60px;
}
.footer__text {
	margin: 1em 0;
}
.footer__contacts {
	display: flex;
	gap: 10px;
	align-items: center;
	a {
		border-bottom: 1px solid #b7dbf8;
		transition: color 0.4s;
		&:hover {
			color: $site2--color-2;
		}
	}
}
.footer__designedby {
	margin-top: 24px;
	font-size: 0.6em;
	line-height: 1.7;
	font-weight: 400;
	letter-spacing: 0.1;
}
